body{
	background-color: #bebcbb;
}
h1{
	text-align: center;
	margin-bottom: 100px;
}
h2{
	text-align: center;
	margin-bottom: 30px;
}

.italic,
.normal,
.oblique
{

	width: 600px;
	height: 200px;
	text-align: center;
	font-size: 24px;
	color:#000;
	margin:0 auto;
	font-family: "Segoe UI Light";
	text-align: justify;
}

.normal{
	font-style: normal;
}
.oblique{
	font-style: oblique ;
}
.italic{
	font-style: italic;
}
