body{
	background-color: #bebcbb;
}
h1{
	text-align: center;
	margin-bottom: 100px;
}
h2{
	text-align: center;
	margin-bottom: 30px;
}


.underline,
.overline,
.line-through,
.none
{

	width: 600px;
	height: 200px;
	text-align: center;
	font-size: 24px;
	color:#000;
	margin:0 auto;
	font-family: "Segoe UI Light";
	text-align: justify;
	background-color: white;
	padding: 15px;
}

.underline::before{
	content: "BEGIN";
	color: red;
}
.overline::after{
	content: "END";
	color: red;
}


.line-through::first-letter{
	font-size: 45px;
	color: red;
}
.none::first-line{
	font-size: 45px;
	color: red;
}